/* =========================
   Font families
========================= */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');


$font-family-base: "Barlow Semi Condensed", sans-serif;
$font-family-heading: "Barlow Semi Condensed", sans-serif;

/* =========================
   Typography tokens (Testimonials Grid)
========================= */

$text: (
  subject: (
    size: 1.25rem,    // 20px
    line: 1.3,
    weight: 600
  ),
  body: (
    size: 0.8125rem,  // 13px
    line: 1.6,
    weight: 500
  ),
  meta: (
    size: 0.6875rem,  // 11px
    line: 1.2,
    weight: 500
  )
);

/* =========================
   Helper functions
========================= */

// Returns typography token value from $text map
@function text($role, $prop) {
    @return map-get(map-get($text, $role), $prop);
}

/* =========================
   Primary colors
========================= */

$colors-primary: (
  purple-50: hsl(260, 100%, 95%),
  purple-300: hsl(264, 82%, 80%),
  purple-500: hsl(263, 55%, 52%)
);

/* =========================
   Neutral colors
========================= */

$colors-neutral: (
  white: hsl(0, 0%, 100%),
  grey-100: hsl(214, 17%, 92%),
  grey-200: hsl(0, 0%, 81%),
  grey-400: hsl(224, 10%, 45%),
  grey-500: hsl(217, 19%, 35%),
  dark-blue: hsl(219, 29%, 14%),
  black: hsl(0, 0%, 7%)
);

/* =========================
   Spacing scale
========================= */

$spacing: (
  50: 0.25rem,
  100: 0.5rem,
  200: 1rem,
  300: 1.5rem,
  400: 2rem,
  500: 2.5rem
);

$spacing-properties: (
    m: margin,
    p: padding
);

$directions: (
    t: top,
    b: bottom,
    l: left,
    r: right
);

// Generate margin and padding utilities with directional variants from spacing tokens

@each $spacing-key, $spacing-value in $spacing {
    @each $prop-key, $prop-value in $properties {
        @each $direction-key, $direction-value in $directions {
            .#{$prop-key}#{$direction-key}-#{$spacing-key} {
                #{$prop-value}-#{$direction-value}: #{$spacing-value};
            }
        }
    }
}

// Generate gap utilites from spacing tokens

@each $spacing-key, $spacing-value in $spacing {
    .gap-#{$spacing-key} { gap: $spacing-value};
}