@use "reset";
@use "tokens" as *;
@use "sass:map";

// Base

html {
    font-size: 100%;
}


body {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: text(body, size);
    line-height: text(body, line);
    font-weight: text(body, weight);
    background: linear-gradient(
    to right,
    white 0%,
    white 5%,
    lightgrey 15%,
    lightgrey 100%
);
}

.wrapper {
    
    
    
    min-height: 100vh;
    background: linear-gradient(
        to right,
        white 0%,
        white 15%,
        rgb(250, 250, 250) 20%,
        rgb(250, 250, 250) 100%
        );

        @include mq(desktop) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .testimonials-grid {
        display: flex;
        flex-direction: column;
        gap: spacing(400);
        padding: spacing(400);

    @include mq(tablet) {
        display: grid;
        gap: spacing(300);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "daniel daniel"
        "jonathan jeanette"
        "patrick patrick"
        "kira kira";
    }

    @include mq(desktop) {
        max-width: 64rem;
        display: grid;
        gap: spacing(300);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "daniel daniel jonathan kira"
        "jeanette patrick patrick kira"
    }
}

.testimonial {

    display: flex;
    flex-direction: column;
    gap: spacing(200);
    padding: spacing(400);
    border-radius: spacing(100);

    @include mq(desktop) {    box-shadow: 15px 30px 35px 15px rgba(89, 89, 89, 0.3);};

    &--purple {
        background-color: map.get($colors-primary, purple-500);
        color: map.get($colors-neutral, white);

        .testimonial__status {
            color: map.get($colors-primary, purple-50);
        }
        .testimonial__body {
            color: map.get($colors-primary, purple-50);
        }
    }

    
    &--grey {
        background-color: map.get($colors-neutral, grey-500);
        color: map.get($colors-neutral, white);
        
        .testimonial__status {
            color: map.get($colors-neutral, grey-400);
        }
        
        .testimonial__body {
            color: map.get($colors-neutral, grey-100);
        }
    }
    
    &--white {
        background-color: map.get($colors-neutral, white);
        color: map.get($colors-neutral, grey-500);
        
        
        .testimonial__name {
            color: map.get($colors-neutral, grey-500);
        }
        
        .testimonial__status {
            color: map.get($colors-neutral, grey-200);
        }
        
        .testimonial__body {
            color: map.get($colors-neutral, grey-400);
        }
    }
    
    &--dark-blue {
        background-color: map.get($colors-neutral, dark-blue);
        color: map.get($colors-neutral, grey-200);
        
        .testimonial__body {
            color: map.get($colors-neutral, grey-100);
        }
    }
    
    &--daniel {
        grid-area: daniel;
    }

    &--jonathan {
        grid-area: jonathan;
    }

    &--jeanette {
        grid-area: jeanette;
    }

    &--patrick {
        grid-area: patrick;
    }

    &--kira {
        grid-area: kira;
    }

    &__header {
        display: flex;
        align-items: center;
        gap: spacing(100);
    }
    
    &__avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    &__name {
        font-size: text(identity, size);
        line-height: text(identity, line);
        font-weight: text(identity, weight);
    }
    
    &__status {
        font-size: text(meta, size);
        line-height: text(meta, line);
        font-weight: text(meta, weight);
    }
    
    &__subject {
        font-size: text(subject, size);
        line-height: text(subject, line);
        font-weight: text(subject, weight);
    }
    
    &__body {
        font-size: text(body, size);
        line-height: text(body, line);
        font-weight: text(body, weight);
    }
}
}